* {box-sizing: border-box}
		body{
			color: black;
			text-align: center;
			background-color: #000000;
		}

		h1{
			color: #C670A8;
			text-align: center;
			font-family: "Lato";
			font-style: normal; 
			letter-spacing: 0.5px;
			font-size: 30px;
			font-weight: 900;
			padding: 0;
			top: 3%;
			position: absolute;
			width:100%;
		}

		#ul1{
			list-style: none;
			text-align: center;
			margin: 100;
			padding:0;
			width: 100%;
			height: auto;
			display: inline-block;
			background-color: #000000;
			left:0px;
			top:12%;
			position: absolute;
		}

		#li1{
			  float: left;
		    background-color: #000000;
		    color: white;
		    text-decoration: none;
		    font-size: 18px;
		    width: 25%; /* Four links of equal widths */
		    text-align: center;
		    line-height: 250%;
		    font-family: "Gill Sans MT Pro";
		    letter-spacing: 1.5px;
			font-weight: 200;
		}
		#li1 a{
			color:white;
			text-decoration: none;
			padding: 0;
			width: 25%;
		}
		#li1 a:hover{
			background-color: #B3D6D3;
		    color:#697586;
		}
		#li1:hover{
			background-color: #B3D6D3;
			color:#697586;
		}
		#li1 a:active{
			background-color: #B3D6D3;
			text-decoration:none;
			color:white;
		}
		#li1:active{
			background-color: #B3D6D3;
			text-decoration:none;
			color:white;
		}

		#ul2{
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;
			display: inline-block;
			background-color: none;
			left:0px;
			top:30%;
			position: absolute;
		}	
		#li2{
			float: left;
			margin:0;
		    padding: 0;
		    background-color: none;
		    color: none;
		    width: 100%; /* Four links of equal widths */
		    height: 25vw;
		    text-align: center;
		}
		img{
			display: block;
			width:100%;
			margin:0;
			padding:0;
			border:5;
		}
		#ul3{
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;
			display: inline-block;
			background-color: none;
			color:#697586;
			left:0px;
			top:30%;
			position: absolute;
			height:25vw;
		}	
		#li3{
			margin:0;
			text-align: center;
			color:#000000;
			font-size:20px;
			font-family:"Gill Sans MT Pro";
			font-style: normal;
			font-weight:500px;
			letter-spacing:1.5px;
			text-decoration:none;
			line-height:25vw;
			float:left;
		  width:100%; /* Four links of equal widths */
		  height:25vw;
		  opacity:0;
			transition: .5s ease;
			background-color:#C670A8;
		}
		#li3 a:link{
			opacity: 1;
			text-decoration:none;
			color:#697586;
		}
		#li3:link{
			opacity: 1;
			text-decoration:none;
			color:#697586;
		}
		#li3 a:visited{
			opacity: 1;
			text-decoration:none;
			color:#697586;
		}
		#li3:visited{
			opacity: 1;
			text-decoration:none;
			color:#697586;
		}
		#li3 a:hover{
			opacity: 1;
			text-decoration:none;
			font-style: normal;
			color: white;
		}
		#li3:hover{
			opacity: 1;
			text-decoration:none;
			color: white;
		}
		#li3 a:active{
			opacity: 1;
			text-decoration:none;
			color:#697586;
		}
		#li3:active{
			opacity: 1;
			text-decoration:none;
			color:#697586;
		}
		a{
			text-decoration:none;
		}